@font-face {
  font-family: "PressStart2P";
  src:
    local("PressStart2P"),
    url(./PressStart2P-Regular.woff) format("woff supports variations"),
    url(./PressStart2P-Regular.woff) format("woff-variations");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src:
    local("Inter"),
    url(./Inter-Variable.woff2) format("woff2 supports variations"),
    url(./Inter-Variable.woff2) format("woff2-variations");
  font-display: swap;
  font-weight: 410;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src:
    local("Inter"),
    url(./Inter-Variable.woff2) format("woff2 supports variations"),
    url(./Inter-Variable.woff2) format("woff2-variations");
  font-display: swap;
  font-weight: 715;
  font-style: normal;
}
