/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--fonts-Inter), sans-serif;
  font-feature-settings: "wght" 400;
  background-image: var(--body-pattern);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  gap: 20px;
  justify-items: center;
  background-color: var(--color-bg);
  padding-block: clamp(7.5rem, 6.9231rem + 2.4615vw, 8rem);
  padding-inline: clamp(0.875rem, -6.7692rem + 32.6154vw, 7.5rem);
  margin-block: 100px;
  margin-inline: auto;
  border: var(--border-default);
}
.header__title {
  font-family: var(--fonts-PressStart2P), cursive;
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  text-transform: uppercase;
  font-weight: 400;
}

.header__text {
  font-family: var(--fonts-PressStart2P), cursive;
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  text-transform: uppercase;
}

.block__width {
  width: var(--block-width);
}

.content__list {
  display: grid;
  gap: 50px;
  margin: 0 auto;
}

.card {
  background-color: var(--color-bg);
  border: var(--border-default);
}

.card__title {
  font-weight: var(--weight-h2);
  font-size: var(--size-h2);
  padding-block: var(--padding-text-block);
  padding-inline: var(--padding-text-inline);
}

.card__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-top: var(--border-default);
  border-bottom: var(--border-default);
}

.card__block-img {
  width: var(--width-img);
  height: var(--height-img);
}

.card__block-label {
  position: absolute;
  top: 27px;
  right: 25px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: var(--fonts-PressStart2P), cursive;
  mix-blend-mode: hard-light;
  text-shadow:
    -1px 0 var(--color-shadow),
    0 1px var(--color-shadow),
    1px 0 var(--color-shadow),
    0 -1px var(--color-shadow);
}

@supports ((-webkit-text-stroke: 1px var(--color-shadow))) {
  .card__block-label {
    -webkit-text-stroke: 1px var(--color-shadow);
    text-shadow: none;
  }
}

.card__paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  padding: 25px;
}

.card__paragraph-text {
  font-weight: var(--weight-p);
  font-size: 18px;
  line-height: 117%;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.button__block {
  display: flex;
  justify-content: end;
  gap: 12px;
  margin-bottom: 25px;
  margin-right: 25px;
}

.card__like-button {
  border: var(--border-default);
  padding: 7px 17px;
  width: 130px;
}

.button__text {
  font-family: var(--fonts-PressStart2P), cursive;
  font-size: 14px;
  line-height: 90%;
}

.button {
  display: flex;
  justify-content: center;
}

.button__save {
  font-family: var(--fonts-PressStart2P), cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg);
  border: var(--border-default);
  padding: 15px 18px;
  width: clamp(19.125rem, 17.0337rem + 8.9231vw, 20.9375rem);
  margin-top: 50px;
  margin-bottom: 100px;
  gap: 8px;
}

.icon {
  width: 28px;
}

.card__image_filter_grayscale {
  filter: grayscale(1);
}

.card__image_filter_blur {
  filter: blur(5px);
}

.card__image_filter_saturation {
  filter: saturate(400%);
}

.card__image_filter_hue {
  filter: hue-rotate(30deg);
}

.card__image_filter_inversion {
  filter: invert(80%);
}

.card__image_filter_sepia {
  filter: sepia(90%);
}

.card__image_filter_custom {
  filter: saturate(200%) invert(30%) hue-rotate(90deg) blur(2px) grayscale(10%);
}

@media (width >= 700px) {
  .icon {
    width: 21px;
  }

  .button__save {
    flex-direction: row;
  }
}
